.m-pagination {
	display: flex;
	align-items: center;
	&-item {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #bbb;
		border-radius: 4px;
		cursor: pointer;
		min-width: 32px;
		user-select: none;
		text-align: center;
		background-color: #fff;
		height: 32px;
		box-sizing: border-box;
		margin-right: 10px;
		padding: 0 5px;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	&-item.forbid {
		opacity: .7;
		cursor: not-allowed;
	}
	
	&-item.jump-container {
		border: none;
	}
	
	.input-set-jump {
		width: 60px;
		height: 100%;
		border: 1px solid #bbb;
		box-sizing: border-box;
		margin: 0 5px;
		border-radius: 4px;
		outline: none;
		font-family: Arial, Helvetica, sans-serif;
		padding: 0 8px;
	}
	
	.input-set-jump:hover {
		border: 1px solid #409EFF;
	}
	
	.input-set-jump:focus {
		border: 1px solid #409EFF;
		box-shadow: 0px 0px 3px #409EFF;
	}
	
	&-item-active {
		border: 1px solid #409EFF;
		color: #409EFF;
	}
	
	&-item-active-background {
		background-color: #409EFF;
		color: #fff;
		border: none;
	}
	
	.pagination-arrow-double-right,
	.pagination-arrow-double-left{
		border: none;
		color: #409EFF;
		color: #bbb;
	}
	
	.pagination-arrow-double-right::v-deep .icon-self ,
	.pagination-arrow-double-left::v-deep .icon-self  {
		width: 18px;
		height: 18px;
	}
	
	.pagination-arrow-double-right:hover,
	.pagination-arrow-double-left:hover {
		color: #409EFF;
	}
}

.m-pagination ::v-deep .icon-self {
	width: 15px;
	height: 15px;
}