.de-tabs {
	width: 100%;
}
.de-tabs .de-tabs-heading {
	display: flex;
	border-bottom: 2px solid #E4E7ED;
	position: relative;
}
.de-tabs .de-tabs-heading .de-tabs-heading-item {
	padding: 0 20px;
	box-sizing: border-box;
	line-height: 40px;
	display: inline-block;
	list-style: none;
	font-size: 14px;
	font-weight: 500;
	color: #303133;
	position: relative;
	cursor: pointer;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.active-class {
	color: #409EFF!important;
}
.de-tabs-heading-active_bar {
	height: 2px;
	background-color: #409EFF;
	position: absolute;
	bottom: -2px;
	transition: left .25s;
}
.is-card {
	background-color: #F5F7FA;
	border-bottom: 1px solid #DCDFE6!important;
}
.is-card-active {
	box-sizing: border-box;
	background-color: #409eff;
	color: #fff!important;
}
.de-tabs >>> .icon-self {
	margin-right: 4px;
}
.is-card-container {
	background: #fff;
	border: 1px solid #DCDFE6;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
}
.de-tabs-content {
	padding: 20px;
}