.lay-tabs-nav .lay-tabs-nav-contain {
	position: relative;
	display: flex;
	position: relative;
}

.lay-tabs-nav .lay-tabs-nav-contain::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 20px;
	height: 2px;
	background-color: #e4e7ed;
}

.lay-tabs-nav .lay-tabs-nav-contain .lay-tabs-nav-border {
	position: absolute;
	width: 56px;
	height: 2px;
	background-color: red;
	bottom: 0;
	left: 20px;
	list-style: none;
	background-color: #409eff;
	z-index: 1;
	transition: transform .3s cubic-bezier(.645,.045,.355,1);    
	transition: left .25s linear;   
}

.lay-tabs-nav .lay-tabs-nav-contain .lay-tabs-nav-item {
	padding: 0 20px;
	height: 40px;
	box-sizing: border-box;
	line-height: 40px;
	list-style: none;
	font-size: 14px;
	font-weight: 500;
	color: #303133;
	position: relative;
	cursor: pointer;
}
.lay-tabs-nav .lay-tabs-nav-contain .lay-tabs-nav-item.no-paddingleft {
	padding-left: 0;
}

.lay-tabs-nav .lay-tabs-nav-contain .lay-tabs-nav-item.no-paddingright {
	padding-right: 0;
}

.lay-tabs-content {
	font-size: 15px;
	color: #333;
}