@import '../../assets/style/var';

.m-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #CFD4DB;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  vertical-align: middle;
}

/* button的尺寸大小设计 */
.m-button-default {
	padding: 12px 20px;
	font-size: 14px;
}
.m-button-medium {
	padding: 10px 18px;
	font-size: 13px;
}
.m-button-small {
	padding: 8px 16px;
	font-size: 13px;
}
.m-button-mini {
	padding: 6px 14px;
	font-size: 11px;
}

.icon-span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.m-button+.m-button {
  margin-left: 10px;
}

.m-button:focus,
.m-button:hover {
  color: $primary-color;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

.m-button:active {
  color: $primary-color;
  border-color: $primary-color;
  outline: 0;
}

.m-button.is-disabled,
.m-button.is-disabled:focus,
.m-button.is-disabled:hover {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #eee;
  border-color: #ebeef5;
}

.m-button--primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.m-button--primary:focus,
.m-button--primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}

.m-button--primary.is-disabled,
.m-button--primary.is-disabled:active,
.m-button--primary.is-disabled:focus,
.m-button--primary.is-disabled:hover {
  color: #fff;
  background-color: #a0cfff;
  border-color: #a0cfff;
}


.m-button--success {
  color: #fff;
  background-color: $success-color;
  border-color: $success-color;
}

.m-button--success:focus,
.m-button--success:hover {
  background: $success-color;
  border-color: $success-color;
  opacity: .8;
  color: #fff;
}

.m-button--success.is-active,
.m-button--success:active {
  background: $success-color;
  border-color: $success-color;
  opacity: .8;
  color: #fff;
}

.m-button--success:active {
  outline: 0;
}

.m-button--success.is-disabled,
.m-button--success.is-disabled:active,
.m-button--success.is-disabled:focus,
.m-button--success.is-disabled:hover {
  color: #fff;
  background-color: #b3e19d;
  border-color: #b3e19d;
}

.m-button--warning {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}

.m-button--warning:focus,
.m-button--warning:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #fff;
}

.m-button--warning.is-active,
.laybutton--warning:active {
  background: #cf9236;
  border-color: #cf9236;
  color: #fff;
}

.m-button--warning:active {
  outline: 0;
}

.m-button--warning.is-disabled,
.m-button--warning.is-disabled:active,
.m-button--warning.is-disabled:focus,
.m-button--warning.is-disabled:hover {
  color: #fff;
  background-color: #f3d19e;
  border-color: #f3d19e;
}

.m-button--danger {
  color: #fff;
  background-color: $danger-color;
  border-color: $danger-color;
}

.m-button--danger:focus,
.m-button--danger:hover {
  background: #f78989;
  border-color: #f78989;
  color: #fff;
}

.m-button--danger.is-active,
.m-button--danger:active {
  background: #dd6161;
  border-color: #dd6161;
  color: #fff;
}

.m-button--danger:active {
  outline: 0;
}

.m-button--danger.is-disabled,
.m-button--danger.is-disabled:active,
.m-button--danger.is-disabled:focus,
.m-button--danger.is-disabled:hover {
  color: #fff;
  background-color: #fab6b6;
  border-color: #fab6b6;
}


.m-button--info {
  color: #fff;
  background-color: $info-color;
  border-color: $info-color;
}

.m-button--info:focus,
.m-button--info:hover {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}

.m-button--info.is-active,
.m-button--info:active {
  background: #82848a;
  border-color: #82848a;
  color: #fff;
}

.m-button--info:active {
  outline: 0;
}

.m-button--info.is-disabled,
.m-button--info.is-disabled:active,
.m-button--info.is-disabled:focus,
.m-button--info.is-disabled:hover {
  color: #fff;
  background-color: #c8c9cc;
  border-color: #c8c9cc;
}

/* 下面是圆角设置 */
.m-button.is-round.m-button-default {
	border-radius: 20px;
	padding: 12px 20px;
}

.m-button.is-round.m-button-medium {
	border-radius: 18px;
	padding: 10px 18px;
}

.m-button.is-round.m-button-small {
	border-radius: 16px;
	padding: 8px 16px;
}

.m-button.is-round.m-button-mini {
	border-radius: 14px;
	padding: 6px 14px;
	
}

.m-button::-moz-focus-inner {
  border-radius: 10px;
  padding: 6px 14px;
}

/* loading加载状态 */
.m-button.loading {
	cursor: auto;
	opacity: .5;
}

.m-button.loading:hover,
.m-button.loading:focus {
	background-color: $primary-color;
}



 /* 单独的图标大小设置 */
.icon {
	width: 18px;
	height: 18px;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.icon.loading {
	animation: turn 1s linear infinite;
}

@keyframes turn{
    from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}