.m-message {
  width: 380px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #ebeef5;
  position: fixed;
  z-index: 99999;
  line-height: 20px;
  transition: top .8s;
  background-color: #edf2fc;
  padding: 15px 15px 15px 20px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.message-fade-enter,
.message-fade-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}

.message-fade-enter-active,
.message-fade-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.m-message--success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
}

.m-message--success .m-message__content {
  color: #67c23a;
}

.m-message--warning {
  background-color: #fdf6ec;
  border-color: #faecd8;
}

.m-message--warning .m-message__content {
  color: #e6a23c;
}

.m-message--error {
  background-color: #fef0f0;
  border-color: #fde2e2;
}

.m-message--error .m-message__content {
  color: #f56c6c;
}

.m-message--info .m-message__content {
  color: #909399;
}
.m-message-content {
  font-size: 14px;
}

.is-content-center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.is-message-center {
  left: 50%;
  margin-left: -190px;
}
.is-message-left {
  left: 16px;
}
.is-message-right {
  right: 16px;
}
.m-message-svg {
  width: 14px;
  height: 14px;
}


.m-message-content {
  display: flex;
  justify-content: center;
  align-items: center;
/*  color: red;*/
}

.m-info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;

}

.is-success-message {
  color: #67C23A;
}
.is-error-message {
  color: #F56C6C;
}
.is-warning-message {
  color: #E6A23C;
}

.close-btn >>> .icon {
	width: 16px;
	height: 16px;
}
.m-info-icon >>> .icon svg {
	width: 100%;
	height: 100%;
}