/* 基准颜色 */
$primary-color: #0376FF;
$success-color: #09c15f;
$warning-color: #FFAD00;
$info-color: #909399;
$danger-color: #FE4542;

/* 基准字体 */
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-l: 14px;
$font-size-xl: 16px;
$font-size-xll: 18px;
$font-size-xlll: 20px;
